*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
    font-family: "Akshar", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url("/6709681107_LibraryMembershipApplicationForm/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.text{
    width: 90%;
    padding: 8px 12px;
}
input [type=text]{
    border: 2px solid black;
    border-radius: 4px;
}
.main-container{
    min-width: 100%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    min-width: 50%;
    margin-top: 5%;
    border: 2px solid black;    
    border-radius: 16px;
    padding: 1%;
    background-color: rgb(249, 249, 249,0.9);
}
form{
    display: flex;
    flex-direction: column;
}
.container{
    min-width: 100%;
    margin-bottom: 1%;
    display: flex;
}
p{
    min-width: 100%;
}
.name{
    min-width: 50%;
}
.gender{
    display: flex;
    margin: 0 2% 0 2%;
}
.text-id{
    width: 95%;
    padding: 8px 12px;
}
select{
    width: 95%;
    padding: 8px 12px;
    margin-bottom: 1%;
}
.submit{
    width: 20%;
    text-align: center;
    padding: 8px;
}
.checkbox{
    display: inline-block;
    margin-bottom: 1%;
}